<!-- Bootstrap core JavaScript -->
<div th:fragment="footer">
    <script th:src="@{/assets/jquery/jquery.slim.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>
