<head th:fragment="header">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Bare - Start Bootstrap Template</title>
  
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
  
  </head>