<div class="row" th:fragment="content">
    <div class="col-lg-12 text-center" >
        <h1 class="mt-5">Sample java scalable experiment</h1>
        <p class="lead">This is the webapp</p>
        <ul class="list-unstyled">
            <li>Big Task</li>
            <li>Task ID</li>
            <li>JData</li>
        </ul>
        <form th:action="@{/bigtask}" method="post">
            <div class="form-row">
                <div class="col-4">&nbsp;</div>
                <div class="col-1">Json</div>
                <div class="col"><input type="text" id="jsonurl" name="jsonurl" class="form-control"></text></div>
                <div class="col-4">&nbsp;</div>
            </div>
            <div class="form-row">
                <div class="col-4">&nbsp;</div>
                <div class="col-1">&nbsp;</div>
                <div class="col-1"><input type="submit" name="bigtask" class="btn btn-primary">big task</input></div>
                <div class="col-4" th:text="${bigoperationresult}">&nbsp;</div>
            </div>
        </form>
        
        <form th:action="@{/}" method="post">
            <div class="form-row">
                <div class="col-4">&nbsp;</div>
                <div class="col-1">Json</div>
                <div class="col"><textarea id="taskPairs" name="taskPairs" rows="4" cols="50" class="form-control"></textarea></div>
                <div class="col-4">&nbsp;</div>
            </div>
            <div class="form-row">
                <div class="col-4">&nbsp;</div>
                <div class="col-1">&nbsp;</div>
                <div class="col-1"><input type="submit" name="sendtask" class="btn btn-primary">send task</input></div>
                <div class="col-4">&nbsp;</div>
            </div>
        </form>
        
        
        
    </div>
</div>

